body{
    color: #1d1c1c;
    background-color: #d49d2f;
    background-image: url("../img/dark-wood.jpg");
    background-position: center;
    font-family: Georgia , Times, serif;
    line-height: 1.5em;
    margin: 0;
}
#full-page{
    width:940px;
    margin:20px auto;
    border: 3px solid cyan;
    background-color: #ffffff;
}
header{
    height:160px;
    background-image: url(../img/header.jpg);
}
h1{
    position: relative;
    left: -9999px;
    /* text-indent: -9999px; */
    width: 100%;
    height:130px;
    margin: 0;
}
nav, footer{
    background-color: rgb(136, 135, 135);
    height:25px;
    clear: both;
}
nav ul{
    margin:0;
    padding: 5px 20px;
    padding-right: 0px;
}
li{
    float: left;
    display: inline;
    margin: 0 20px;
}
nav li a:hover , nav li a.current{
    color: #e71515;
    background-color:yellow;
}
section.courses{
    float: left;
    width: 659px;
    border-right: 1px solid #eeeeee;
}
article{
    clear: both;
    overflow: auto;
    width: 100%;
}
hgroup{
    margin-top: 10px;
}
figure{
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 2px solid #a31616;
}
figcaption{
    font-size: 120%;
    text-align: center;
}
aside{
    width: 230px;
    float: left;
    padding: 0px;
    padding-left:15px;
}
aside section a{
    display: block;
    padding: 5px;
    border-bottom: 1px solid #e7e4e4;
}
aside section a:hover{
    color:red;
    background-color:yellow;
}
a{
    color: white;
    text-decoration: none;
}
aside section a{
    color: rgb(202, 26, 49);
}
h2{
    margin: 10px 0px 5px 0px;
    padding: 0px;
}
h3{
    margin: 0px 0px 10px 0px;
    color:green;
}
aside h2{
    padding: 30px 0px 10px 0px;
    color: green;
}
footer{
    font-size: 80%;
    padding: 2px;
}